@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<p>@ViewBag.name</p>  

<ul>
    @foreach(var name in  ViewBag.ad as List<string>)
    {
        <li>@name</li>
    }
</ul>

<ul>
    @foreach (var name in ViewData["names"] as List<string>)
    {
        <li>@name</li>
    }
</ul>



