
@model Form

<table class="table">

    <thead>
        <tr>       
            <th>OKUNDU MU</th>
            <th>İSİM</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.IsRead</td>
                <td>@Model.Name</td>
        </tr>
        
    </tbody>
</table>
