@{
    ViewData["Title"] = "Home Page";
    Product product = new Product() { Id = 2, Name = "ÖMER", Price = 12, Stock = 23 };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="~/Partial/_ProductListPartialView.cshtml" model=" @ViewBag.ProductListPartialViewModel" />
@*NORMALDE DİREKTMEN MODEL ATRİBUTE TU KULLANMAKSIZIN VERİ AKTARABİLİRSİN BU YOL ÇAKIŞMALARI ÖNLEMEK İÇİNDİR GÖSTERMEK İSTEDİM  SHARED İÇİNDE DEĞİLSE UZUNCANA YOLUNU BELİRTECEKSİN*@

@await Component.InvokeAsync("ProductList",new{type=1})

    <vc:product-list type="1"></vc:product-list> @*YUKARISIYLA BU AYNI BİZ TAG HELPERA DÖNÜŞTÜRDÜK İMPORT EDEREK*@

    <product-show product="@product"></product-show>